/* ------VARIABLES------ */

:root {
    --Red: hsl(0, 78%, 62%);
    --Cyan: hsl(180, 62%, 55%);
    --Orange: hsl(34, 97%, 64%);
    --Blue: hsl(212, 86%, 64%);
  
    --Very-Dark-Blue: hsla(0, 0%, 100%, 0.9);
    --Grayish-Blue: hsl(232, 15%, 81%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
  }


/* ----------RESETS---------- */

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    background: rgb(102, 36, 69);
    background: linear-gradient(29deg, rgba(102, 36, 69, 1) 0%, rgba(102, 27, 173, 1) 45%, rgba(153, 93, 219, 1) 100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

header{
    margin-top: 4rem;
}
body {
    min-height: 100vh;
    display: grid;
    place-content: center;
    padding: 1.25rem;
}

body h1,
body h2,
body p {
    color: #fff;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin: auto;
}

body h2 {
    line-height: 60px;
}

.container{
    display: grid;
    place-content: center;
    gap: 1.25rem;
    margin-top: 5rem;
}

.cardHeading{
    text-align: left;
}

.cardParagraph{
    text-align: left;
    font-weight: 100;
}

.icon{
    width: 3rem;
    position: absolute;
    left: 80%;
    top: 70%;
}

.card{
    max-width: 21.875rem;
    min-height: 12.5rem;
    padding: 1.25rem;
    border-radius: 0.375rem;
    box-shadow: 0 0.125rem 0.9375rem 0.25rem rgba(0, 0, 0, 0.3);
    position: relative;
    transition: 1s;
}

.card:hover{
    transform: translateY(-10px);
    background-color: rgba(255, 255, 255, 0.1);
}

.supervisor{
    border-top: 3px solid var(--Cyan);
}

.karma{
    border-top: 3px solid var(--Red);
}

.teamBuilder{
    border-top: 3px solid var(--Orange);
}

.calculator{
    border-top: 3px solid var(--Blue);
}

/* -----MEDIA QUERY-------- */

@media screen and (min-width: 37.5em) {
    .container{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .icon{
        left: 70%;
    }

    .card{
        min-height: 15.625rem;
        padding: 1.875rem;
    }
}

@media (min-width: 756px) {
    .container {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-template-areas:
        "supervisor team calculator"
        "supervisor karma calculator";
    }
  
    .karma {
      grid-area: karma;
    }
  
    .calculator {
      grid-area: calculator;
      align-self: center;
    }
  
    .teamBuilder {
      grid-area: team;
    }
  
    .supervisor {
      grid-area: supervisor;
      align-self: center;
    }
  }